@media only screen and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background: var(--md-sys-color-background);
        min-width: 100%;

        display: grid;
        grid: 40px 1fr 80px / 1fr;
        grid-template-areas:
        "m"
        "m"
        "m";
        justify-content: flex-start;
    }
    /* Header -------------------------------------------------------- */
    header {
        position: fixed;
        grid-column: unset;
        grid-row: unset;
        width: 100vw;
        z-index: 10;
        background: var(--md-sys-color-primary);
        box-shadow: 0px 1px 2px rgba(0 0 0 / 15%), 
                    0px 2px 6px 2px rgba(0 0 0 / 15%);

        display: grid;
        grid: 10px 15px 10px 40px 10px / 10px 2fr 1fr 10px;
    }
    header > .logo, 
    header > .logo-overlay {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 100%;
        justify-self: start;
    }
    header > .discover-on-mobile {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        font-size: 40px;
        font-weight: 100;
        margin-right: -3px;
        color: var(--md-sys-color-on-primary);

        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
    }
    main.start + header > .discover-on-mobile {
        position: absolute;
        top: 160px;
        right: 10px;
    }
    header > form {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        grid: 40px / 40px 1fr 30px 51px 40px;
        transition: all 0.2s linear;
    }
    header > form > input#query,
    main.start + header > form > input#query {
        width: calc(100vw - 60px);
        border-radius: 20px;
        padding: 0 40px;
        font-size: 18px;
    }
    main.start + header > form > input#query.text-inside, 
    main.start + header > form > input#query:focus-within,
    header > form > input#query.text-inside, 
    header > form > input#query:focus-within {
        width: calc(100vw - 20px);
    }
    #header-about {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        font-size: 20px;
        font-weight: 200;
    }
    #header-about::before {
        font-size: 16px;
    }
    .mobile-search {
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        width: 100%;
        height: 100%;
        color: var(--md-sys-color-on-primary);
        font-size: 30px;
        font-weight: 200;
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .mobile-search::before {
        content: 'Поиск';
        font-family: 'Roboto Flex', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: rgba(var(--md-sys-color-secondary--rgb), 0.4);
    }

    /* Nav ----------------------------------------------------------- */
    nav {
        position: fixed;
        height: 80px;
        width: 100%;
        top: auto;
        bottom: 0;
        margin: 0;
        padding: 12px 0 16px;
        z-index: 100;

        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
        
        -webkit-backdrop-filter: saturate(150%) blur(10px);
        backdrop-filter: saturate(150%) blur(10px);
        background: linear-gradient(300deg, 
                    rgba(var(--md-sys-color-primary--rgb), 0.08), 
                    rgba(var(--md-sys-color-primary--rgb), 0.08)), 
                    rgba(var(--md-sys-color-surface--rgb), 0.9);
        box-shadow: 0px 1px 2px rgba(0 0 0 / 15%), 
                    0px 2px 6px 2px rgba(0 0 0 / 15%);
    }
    nav > div {
        height: 52px;
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        color: var(--md-sys-color-on-surface-variant);
        gap: 4px;
        cursor: pointer;
    }
    nav > div:hover {
        background: none;
    }
    nav > div > span {
        width: 32px;
        transition: all 0.1s linear;
    }
    nav > div.nav-active:hover > span,
    nav > div.nav-active > span {
        width: 64px;
        height: 32px;
        border-radius: 16px;
        background: linear-gradient(to right,
        rgba(var(--md-sys-color-secondary--rgb), 0.8), 
        rgba(var(--md-sys-color-secondary--rgb), 0.8)),
        var(--md-sys-color-surface);
        background: var(--md-sys-color-secondary-container);
    }
    .nav-menu {
        display: none;
    }
    .nav-menu:hover {
        background: var(--md-sys-color-primary);
    }
    nav.menu-open {
        width: 100%;
    }
    nav.menu-open::before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        left: 0;
        background: rgba(var(--md-sys-color-primary--rgb), 0.8);
    }
    #nav-menu-list {
        position: fixed;
        height: min-content;
        width: min-content;        
        min-width: 50px;
        min-height: 50px;
        max-height: calc(100vh - 20px);
        left: -100vw;
        bottom: 10px;
        padding: 20px;
        background: linear-gradient(0, 
                        rgba(var(--md-sys-color-primary--rgb), 0.05), 
                        rgba(var(--md-sys-color-primary--rgb), 0.05)), 
                        var(--md-sys-color-background);
        box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 
                        0px 1px 3px 1px rgb(0 0 0 / 15%);
        border: none;
        border-radius: 23px;
        gap: 15px;
        transition: all 0.1s linear;
    }
    nav.menu-open > #nav-menu-list {        
        left: 10px;
    }
    #nav-menu-list > .list-close-btn {
        position: absolute;
        top: 5px;
        right: 5px;

        height: 40px;
        width: 40px;
        color: var(--md-sys-color-on-primary);
        border-radius: 20px;
        background: var(--md-sys-color-primary);
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }
    .filters,
    #filters-submit-btn {
        margin: 0 -5px;
    }
    nav.menu-open > div.nav-active:after,
    nav.menu-open > div.nav-active:before {
        display: none;
    }

    /* Main ---------------------------------------------------------- */
    main {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        margin: 0;
        padding: 70px 0 80px;
    }
    .search, 
    .discover {
        gap: 8px 0;
        padding: 93px 3px 80px;
    }
    #load-more {
        display: grid;
        grid: 83px 85px 150px / 170px;
    }

    /* Start page ---------------------------------------------------- */
    main.start {
        display: grid;
        grid: 70px 770px / 1fr;
    }
    .start-popular, .start-top {
        padding: 5px;
    }
    .start-title-container {
        width: calc(100% - 20px);
        left: 10px;
        top: 55px;
        display: grid;
        grid: 35px 15px 20px/ 1fr;
    }
    .start-title-overlay {
        border-radius: 0;
        height: calc(100% + 85px);
        margin: -85px 0 0 0;
        background: linear-gradient(to bottom, 
                var(--md-sys-color-primary), 
                rgba(var(--md-sys-color-primary--rgb), 0.85)), 
                url(/IMG/start_background.png);
        background-position: right;
        background-size: contain;
    }
    .start-title-container > div:nth-child(1) {
        font-size: 37px;
        justify-self: center;
    }
    .start-title-container > div:nth-child(2) {
        font-size: 13px;
        margin: -5px 0px 0 0;
        justify-self: end;
    }
    .start-title-container > img {
        width: 70%;
        margin: 0 0 0 30%;
    }
    .start-title-container > div:nth-child(4) {
        font-size: 13px;
    }
    main.start + header {
        position: absolute;
        top: -70px;
        display: flex;
    }
    main.start + header > form {    
        margin: 0;
        left: 10px;
        top: 160px;
        position: absolute;
        transition: unset;
    }
    #start-container {
        display: grid;
        grid: 40px 345px 40px 345px / 1fr;
    }
    .start-right-border, .start-left-border {
        display: none;
    }
    .start-top-title, .start-popular-title {
        width: 100%;
        padding: 10px 0 0 10px;
    }
    .start-top-title::after,
    .start-popular-title::after,
    .start-top-title:hover::after,
    .start-popular-title:hover::after {
        content: 'показать все -->';
        padding-left: 8px;
        font-size: 12px;
        color: rgba(var(--md-sys-color-primary--rgb), 0.3);
    }
    
    /* Tile  --------------------------------------------------------- */
    .title {
        font-size: 13px;
    }
    .original-title {
        font-size: 9px;
    }
    .release-date {
        font-size: 10px;
    }
    .tile-overlay,
    .tile-overlay:hover {
        border: none;
    }

    /* Movie and TV pages -------------------------------------------- */
    .movie {
        display: grid;
        grid: 60px 310px repeat(11, min-content) /
        5px 1fr 5px;
        grid-template-areas:
            '. ...... .'
            '. poster .'
            '. title .'
            '. tagline .'
            '. genres .'
            '. overview .'
            '. revenue .'
            '. budget .'
            '. status .'
            '. release .'
            '. crew .'
            '. actors .'
            '. videos .';
        color: var(--md-sys-color-on-surface);
        gap: 10px 5px;
    }
    .tv {
        display: grid;
        grid: 60px 310px repeat(8, min-content) /
        5px 1fr 5px;
        grid-template-areas:
            '. ...... .'
            '. poster .'
            '. title .'
            '. tagline .'
            '. genres .'
            '. overview .'
            '. first .'
            '. last .'
            '. status .'
            '. crew .'
            '. .... .'
            '. actors .'
            '. videos .';
        color: var(--md-sys-color-on-surface);
        gap: 10px 5px;
    }
    .movie-poster,
    .tv-poster {
        width: 200px;
    }
    .backdrop {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        height: 200px;
    }
    .movie-title, 
    .tv-title {
        font-size: 30px;
        text-shadow: none;
        padding: 5px 0;
    }
    .movie-original-title, 
    .tv-original-title {
        font-size: 15px;
    }
    .movie-backdrop-overlay,
    .tv-backdrop-overlay {
        grid-column: 1 / -1;
        grid-row: 1 / 5;
        width: 100%;
        height: 200px;
    }
    .movie-votes,
    .tv-votes {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 80px 0 0 220px;
    }
    .movie-votes-title, 
    .tv-votes-title {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100px;
        margin: 185px 0 0 225px !important;
        align-self: start;
        font-size: 10px;
        line-height: 0.8;
        color: rgba(var(--md-sys-color-outline--rgb), 0.5);
    }
    .movie-vote-count, 
    .tv-vote-count {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 205px 0 0 225px !important;
        align-self: start;
        font-size: 14px;
        color: var(--md-sys-color-on-surface-variant);
    }
    .movie-overview, 
    .tv-overview {
        max-height: min-content;
        line-height: 0.9;
    }
    .crew, 
    .tv-crew > div > div {
        gap: 5px 25px;
    }
    .tv-crew > div {
        gap: 5px;
    }
    .movie-actors,
    .tv-actors {
        grid-column: 1 / -1;
        
        margin: -10px 0 0;
        width: 100vw;
        border-top: 1px solid rgba(var(--md-sys-color-primary--rgb), 0.1);
        border-radius: 0;
        box-shadow: none;
    }
    .videos-container {
        grid-column: 1 / -1;

        margin: -10px 0 0;
        height: calc((100vw - 20px) / 16 * 9 + 90px);
        width: 100vw;
        border-top: 1px solid rgba(var(--md-sys-color-primary--rgb), 0.1);
        border-radius: 0;
        box-shadow: none;
        
        display: grid;
        grid: 30px 1fr / 1fr;
    }
        .video-frame {
            width: calc(100vw - 20px);
            height: calc((100vw - 20px) / 16 * 9);
            box-shadow: none;
        }
    .movie-collection {
        grid-column: 1 / -1;
        grid-row: unset;
        
        margin: -10px 0 0;
        width: 100vw;
        height: min-content;
        border-top: 1px solid rgba(var(--md-sys-color-primary--rgb), 0.1);
        border-radius: 0;
        box-shadow: none;

        display: grid;
        grid: 30px 295px / 1fr;
    }
        .movie-collection-backdrop {
            display: none;
        }
        .movie-collection-name {
            grid-row: 1 / 2;
            max-width: 100%;
            align-items: center;
        }
        #parts-container {
            grid-column: 1 / -1;
            grid-row: 2 / -1;
        }
    .movie-suggested,
    .tv-suggested {
        grid-column: 1 / -1;
        grid-row: unset;
        
        margin: -10px 0 0;
        width: 100vw;
        min-width: 100vw;
        height: min-content;
        border-top: 1px solid rgba(var(--md-sys-color-primary--rgb), 0.1);
        border-radius: 0;
        box-shadow: none;
    }

    /* ------------------------ */
    .tv-seasons {
        grid-row: 11 / 12;
        padding: 40px 0 0;
        height: min-content;
        min-height: 351px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
    .tv-season-close-btn {
        top: 20px;
    }
    .about-close-btn {
        top: 100px;
    }
    .tv-studio {
        display: none;
    }
    .tv-season {
        display: grid;
        grid: 240px 10px 35px / 160px;
    }
    .tv-season-number {
        font-size: 45px;
        letter-spacing: -7px;
        padding-left: 5px;
    }
    .tv-season.episodes {
        padding: 20px 8px 80px;
        border-radius: 0;
        grid: 120px 50px 1fr / 110px 1fr;
    }
    .tv-season.episodes > .tv-season-name {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-size: 20px;
        align-self: center;
        padding-left: 20px;
    }
    #tv-episodes-container {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        padding: 10px 0;
        margin: 10px 0 0;
        gap: 10px;
        border: none;
        border-top: 1px solid rgba(var(--md-sys-color-outline--rgb), 0.1);
        border-radius: 0;
    }
    .tv-season-overview {
        position: relative;
        top: 0;
        left: 0;
        font-size: 14px;
        line-height: 0.9;
        width: 100%;
        height: min-content;
        overflow: visible;
        padding: 0 0 10px
    }
    .tv-episode {
        display: grid;
        grid: min-content 10px 20px 20px 1fr / 0 1fr;
        gap: 10px 0;
        padding: 5px 5px 10px;
    }
    .tv-episode-title {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        font-size: 20px;
    }
    .tv-episode-still {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: calc(100% + 10px);
        border-radius: 9px 9px 0 0;
        margin: -5px;
    }
    .tv-episode-overview {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    /* Person -------------------------------------------------------- */
    .person {
        display: grid;
        grid: 86px repeat(5, min-content) / 5px 1fr 5px;
        gap: 10px 5px;
        padding: 0 0 80px;
    }
    .person-poster {
        grid-column: 2 / -2;
        grid-row: 2 / 3;
        height: min-content;
        width: 100%;
    }
    .person > div {
        grid-column: 2 / -2;
        height: min-content;
        width: 100%;
    }
    .person-biography {
        max-height: min-content;
    }
    .person-name {
        font-size: 30px;
    }
    .person-movies, 
    .person-tvs {
        margin: 0;
        padding: 35px 0 0;

        border-top: thin solid rgba(var(--md-sys-color-primary--rgb), 0.1);

        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        justify-content: space-evenly;
    }
    .person-movies::before,
    .person-tvs::before {
        width: 100%;
        margin: -30px 0 0;
    }

    /* About --------------------------------------------------------- */
    #about-container {
        overflow: overlay;
        padding: 140px 10px 100px;
        display: grid;
        grid: repeat(4, min-content) / 1fr;
        grid-template-areas: 
        'c'
        'v'
        'i'
        'f';
        gap: 10px;
    }
    .about-select {
        display: grid;
        grid: repeat(3, min-content) / 0 1fr;
        gap: 0;
    }
    .about-select > div:nth-child(2),
    .about-select > div:nth-child(3),
    .about-select > div:nth-child(4),
    .about-search-info {
        display: none;
    }
}