main.start {
    box-shadow: none;
    overflow: visible;
    position: static;
    height: auto;
    margin: 0 0 -8px;
    background: linear-gradient(180deg,
    rgba(var(--md-sys-color-primary--rgb), 1),
    rgba(var(--md-sys-color-primary--rgb), 1) 30px,
    rgba(var(--md-sys-color-primary--rgb), 0.05) 30px, 
    rgba(var(--md-sys-color-primary--rgb), 0.05)),
    var(--md-sys-color-background);

    display: grid;
    grid: 140px 750px / 200px 1fr;
}
main.start + header > form {
    margin: 270px 20px 0;
}
main.start + header > form > input#query {
    width: 570px;
}
.start-title-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: start;

    width: 100%;
    height: calc(100% + 50px);
    margin: -50px 0 0;
    border-radius: 18px;
    background: linear-gradient(to right, 
        rgba(var(--md-sys-color-primary--rgb), 0.85), 
        rgba(var(--md-sys-color-primary--rgb), 0.85)), 
        url(/IMG/start_background.png);
        
    background-position: right;
    background-size: contain;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 
                0px 1px 3px 1px rgb(0 0 0 / 15%);
}
.start-title-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: start;

    position: absolute;
    width: 570px;
    margin: -45px 0 0;
    left: 350px;
    color: var(--md-sys-color-on-primary);

    display: grid;
    grid: 60px 15px 25px / 1fr;
    align-items: center;
}
.start-title-container > img {
    width: 350px;
    margin: 0 0 0 150px;
}
.start-title-container > div:nth-child(1) {
    font-size: 60px;
    font-weight: 700;
}
.start-title-container > div:nth-child(2) {
    font-size: 20px;
    font-weight: 100;
    margin: -15px 0 0 140px;
}
#start-container {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;
    grid: 30px 345px 30px 345px / 1fr;
    position: relative;
}

.start-popular,
.start-top {
    grid-column: 1 / -1;
    position: relative;

    height: min-content;
    overflow: auto;
    padding: 5px 10px;

    display: grid;
    grid-template-columns: repeat(20, 171px);
    justify-content: start;
    align-items: start;
    gap: 8px;
}
.start-popular.person-tile {
    grid-template-columns: repeat(10, 171px);
}
.start-popular-title {
    grid-row: 1 / 2;
}
.start-popular {
    grid-row: 2 / 3;
}
.start-top-title {
    grid-row: 3 / 4;
}
.start-top {
    grid-row: 4 / 5;
}
.start-right-border,
.start-left-border {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 10px;
    z-index: 10;
}
.start-right-border {
    right: 0;
    background: linear-gradient(to left , #f1f1f5, transparent)
}
.start-left-border {
    background: linear-gradient(to right , #f1f1f5, transparent)
}
.start-top-title,
.start-popular-title {
    padding: 6px 0 0 20px;
    font-size: 20px;
    font-weight: 700;
    width: 400px;
    color: rgba(var(--md-sys-color-primary--rgb), 0.8);
    transition: color 0.1s ease-in-out;
}
.start-top-title:hover,
.start-popular-title:hover {
    cursor: pointer;
    color: var(--md-sys-color-primary);
}
.start-top-title:hover::after,
.start-popular-title:hover::after {
    content: 'показать все -->';
    padding-left: 10px;
    font-size: 16px;
    color: rgba(var(--md-sys-color-primary--rgb), 0.5);
}