:root {
	--md-sys-color-primary: #0d253f;
	--md-sys-color-primary--rgb: 13, 37, 63;
	--md-sys-color-on-primary: #ffffff;
	--md-sys-color-primary-container: #d3e4ff;
	--md-sys-color-on-primary-container: #001c38;
	--md-sys-color-secondary: #01b4e4;
	--md-sys-color-secondary--rgb: 1, 180, 228;
	--md-sys-color-on-secondary: #ffffff;
	--md-sys-color-secondary-container: #d7e3f8;
	--md-sys-color-on-secondary-container: #111c2b;
	--md-sys-color-tertiary: #90cea1;
	--md-sys-color-tertiary--rgb: 144, 206, 161;
	--md-sys-color-on-tertiary: #ffffff;
	--md-sys-color-tertiary-container: #f5d9ff;
	--md-sys-color-on-tertiary-container: #261431;
	--md-sys-color-error: #ba1a1a;
	--md-sys-color-on-error: #ffffff;
	--md-sys-color-error-container: #ffdad6;
	--md-sys-color-on-error-container: #410002;
	--md-sys-color-outline: #73777f;
	--md-sys-color-outline--rgb: 115, 119, 127;
	--md-sys-color-background: #fdfcff;
	--md-sys-color-on-background: #1a1c1e;
	--md-sys-color-surface: #fdfcff;
	--md-sys-color-surface--rgb: 253, 252, 255;
	--md-sys-color-on-surface: #1a1c1e;
	--md-sys-color-surface-variant: #dfe2eb;
	--md-sys-color-on-surface-variant: #43474e;
	--md-sys-color-inverse-surface: #2f3033;
	--md-sys-color-inverse-on-surface: #f1f0f4;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur-10px {
    -webkit-backdrop-filter: saturate(150%) blur(10px);
    backdrop-filter: saturate(150%) blur(10px);
  }  
  .blur-3px{
    -webkit-backdrop-filter: saturate(150%) blur(3px);
    backdrop-filter: saturate(150%) blur(3px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {}

.blured {
  -webkit-filter: blur(10px) opacity(60%);
  filter: blur(10px) opacity(60%);
}
.material-symbols-rounded { 
  display: flex 
}
.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type="date"]:invalid::-webkit-datetime-edit {
  color: rgba(var(--md-sys-color-outline--rgb), 0.3);
}
::-webkit-datetime-edit-text {
  color: rgba(var(--md-sys-color-outline--rgb), 0.3);
  padding: 0 0.3em; 
}
.low-votes {
  filter: grayscale(1) drop-shadow(0px 1px 2px rgb(0 0 0 / 0.4)) !important;
}

/* Scrollbar --------------------------------------------------- */
::-webkit-scrollbar {
  cursor: pointer;
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
  rgba(var(--md-sys-color-primary--rgb), 0) 5%,
  rgba(var(--md-sys-color-primary--rgb), 0.2) 5%, 
  rgba(var(--md-sys-color-primary--rgb), 0.2) 95%,
  rgba(var(--md-sys-color-primary--rgb), 0) 95%);
  border-radius: 1.5px;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,
  rgba(var(--md-sys-color-primary--rgb), 0) 5%,
  rgba(var(--md-sys-color-primary--rgb), 0.5) 5%, 
  rgba(var(--md-sys-color-primary--rgb), 0.5) 95%,
  rgba(var(--md-sys-color-primary--rgb), 0) 95%);
}

/* Main fetch loader ------------------------------------------- */
#fetch-animation {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  align-self: center;
  background: rgba(var(--md-sys-color-surface--rgb), 0.8);
  border-radius: 16px;
  z-index: 100;
  transition: opacity 0.2s ease-in;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add fetch loader ------------------------------------------- */
#load-more > img {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}