/* TV seasons */
.tv-seasons {
    grid-column: 2 / -2;
    grid-row: 17 / 18;
    height: min-content;
    min-height: 351px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.tv-seasons::before {
    content: 'Сезоны';
    grid-column: 1 / -1;
    width: 400px;
    margin: -40px 0 0;
    color: var(--md-sys-color-on-surface);
    font-size: 20px;
    font-weight: 600;
}
.tv-season, .tv-specials {
    border-radius: 10px;
    background: transparent;
    color: var(--md-sys-color-on-surface);
    line-height: 0.8;
    padding: 30px;
    margin: -25px 0;
    z-index: 0;
    transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);

    display: grid;
    grid: 300px 10px 25px / 200px;
    justify-content: center;
    gap: 3px;
}
.tv-season-poster,
.tv-season-no-poster {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 
                0px 1px 3px 1px rgb(0 0 0 / 15%);

}
.tv-season-no-poster {
    opacity: 0.2;
}
.tv-season-number {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: -15px;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -13px;
    background: linear-gradient(110deg, var(--md-sys-color-tertiary), var(--md-sys-color-secondary) 25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 0.4));
}
.tv-season-number::before {
    content: '#';
    font-size: 25px;
    margin-right: 3px;
}
.tv-specials > .tv-season-number {
    display: none;
}
.tv-season-name {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.tv-season-episode-count {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
    color: rgba(var(--md-sys-color-primary--rgb), 0.2);
    font-size: 13px;
    padding: 0 8px;
}
.tv-season-overlay {
    cursor: pointer;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin: -8px;
    border-radius: 14px;
    z-index: 5;
}
.tv-season-close-btn {
    position: absolute;
    height: 40px;
    padding: 0 24px 0 16px;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    font-size: 22px;
    transition: all 0.2s linear;
    color: var(--md-sys-color-primary);

    display: flex;
    align-items: center;
    gap: 8px;
}
.tv-season-close-btn::after {
    content: 'Закрыть';
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: 200;
}
.tv-season-close-btn:hover {
    background: rgba(var(--md-sys-color-primary--rgb), 0.08);
    cursor: pointer;
}

/* TV Episodes ------------------------------------------------ */
.tv-season.episodes {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    grid-column: unset;
    grid-row: unset;
    z-index: 20;
    background: rgba(var(--md-sys-color-surface--rgb), 0.8);
    backdrop-filter: blur(5px);
    border-radius: 16px;

    grid: 40px 280px 30px 1fr / 200px 100px 1fr;
    gap: 0;
}
.tv-season.episodes > .tv-season-name {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 20px;
}
.tv-season.episodes > .tv-season-episode-count,
.tv-season.episodes > .tv-season-overlay {
    display: none;
}
.tv-season-overview {
    position: absolute;
    top: 400px;
    left: 30px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1;
    width: 300px;
    height: calc(100% - 430px);
    overflow: overlay;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tv-season-overview::before {
    content: 'Обзор';
    font-size: 14px;
    font-weight: 100;
}
#tv-episodes-container {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    margin: 0 20px;
    padding: 0 8px 0 0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.tv-episode {
    display: grid;
    grid: 0 10px 20px 20px 1fr / 320px 1fr;
    gap: 10px;

    background: rgba(var(--md-sys-color-surface--rgb), 0.8);
    border-radius: 10px;
    border: 1px solid rgba(var(--md-sys-color-outline--rgb), 0.3);
}
.tv-episode-still {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    border-radius: 9px 0 0 9px;
}
.tv-episode-number {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 14px;
    font-weight: 100;
    color: rgba(var(--md-sys-color-primary--rgb), 0.5);
}
.tv-episode-title {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 24px;
    line-height: 0.6;
}
.tv-episode-air-date {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    gap: 5px;
}
.tv-episode-air-date:before {
    content: 'Дата выхода';
    font-size: 14px;
    font-weight: 100;
}
.tv-episode-overview {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    font-size: 16px;
    font-weight: 200;
    line-height: 0.9;
    padding-right: 0 10px 10px 0;
}